{% extends "base.html" %}

{% load static from staticfiles %}

{% block content %}

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3 class="panel-title">Challenged Segments</h3></div>
  <div class="panel-body">
    {% if not segments %}
    <p>Looks like you are already the fastest of your friends!</p>
    <p>There are no segments to display.</p>
    <br><br>
    <p><strong>or maybe its a bug, and you should refresh the page....</strong></p>
    </div>
    {% else %}
    <p>Segments you need to try harder on.</p>
  </div>

  <!-- Table -->
  <table class="table">
    <thead><tr><th>Segment Name</th><th>Challenger</th><th>Time Behind</th><th>Their Time</th><th>My Time</th><th>Segment Distance</th></tr></thead>
    <tbody>
    {% for k, v in segments.items %}
      <tr>
        <td><a href="https://www.strava.com/segments/{{ v.segment_id }}?filter=following">{{ v.segment_name }}</a></td>
        <td>{{ v.challenger_name|truncatewords:3 }}</td>
        <td>{{ v.time_difference }}</td>
        <td><a href="https://www.strava.com/activities/{{ v.their_pr_id }}">{{ v.their_elapsed_time }}</a></td>
        <td><a href="https://www.strava.com/activities/{{ v.my_pr_id }}">{{ v.my_elapsed_time }}</a></td>
        <td>{{ v.distance }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

{% comment "not using yet" %}
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3 class="panel-title">Segments</h3></div>
  <div class="panel-body">
    <p>All segments you've ridden that have been analyzed.</p>
  </div>

  <!-- Table -->
  <table class="table">
    <thead><tr><th>Segment Name</th><th>Most Recent Attempt</th></tr></thead>
    <tbody><tr><td>all the data</td></tr></tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Activities</h3>
  </div>

  <div class="panel-body">
    <p>All of your activities that have been analyzed.</p>
  </div>

  <!-- Table -->
  <table class="table">
    <thead><tr><th>Activity Name</th><th>Date Ridden</th><th>Distance</th></tr></thead>
    <tbody><tr><td>all the data</td><td></td><td></td></tr></tbody>
  </table>
</div>
{% endcomment %}

{% endblock %}
